doctype html
html
	head
		//the must have tags
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		//the must have assets
		link(rel="stylesheet", href="css/main.css")
		script(src="js/main.js", defer)
		//page title
		title
			| DFS Landing Page | Free-for-All Basketball
	body
		main.page_wrapper
			include components/covers/02
			include components/features/03
			include components/counters/03
			include components/features/05
			include components/features/10
			include components/call_to_actions/05
			include components/footers/02
	.js-overlay.js-close-navigation.js-close-menu.overlay