doctype html
html
	head
		//the must have tags
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")

		//the must have assets
		link(rel="stylesheet", href="css/main.css")
		script(src="js/main.js", defer)

		//page title
		title
			| Phoenix Bootstrap UI kit
	body
		main.page_wrapper.page_wrapper--presentation-navbar
			// == START OF PRESENTATION NAVBAR ==
			//this component is used for easier navigation and is not a part of the Phoenix tool. Yet, you still are free to use it in your projects if you want.
			include components/presentations_components/navigation_bar
			// == END OF PRESENTATION NAVBAR ==
			// ____________________________
			// == START OF MENU COMPONENTS ==
			include components/menu/01--desktop
			include components/menu/01
			include components/menu/02--desktop
			include components/menu/03
			include components/menu/05
			include components/menu/06
			include components/menu/07
			include components/menu/08
			include components/menu/13
			include components/menu/14
			// == END OF MENU COMPONENTS ==
			// ____________________________
			// == START OF COVER COMPONENTS ==
			include components/covers/01
			include components/covers/02
			include components/covers/03
			include components/covers/04
			include components/covers/05
			include components/covers/06
			include components/covers/07
			include components/covers/08
			include components/covers/09
			include components/covers/10
			include components/covers/11
			include components/covers/12
			include components/covers/13
			include components/covers/14
			include components/covers/15
			include components/covers/16
			include components/covers/17
			include components/covers/18
			include components/covers/19
			include components/covers/20
			include components/covers/21
			// == END OF COVER COMPONENTS ==
			// ____________________________
			// == START OF call_to_action COMPONENTS ==
			include components/call_to_actions/01
			include components/call_to_actions/02
			include components/call_to_actions/03
			include components/call_to_actions/04
			include components/call_to_actions/05
			include components/call_to_actions/06
			include components/call_to_actions/07
			include components/call_to_actions/08
			include components/call_to_actions/09
			include components/call_to_actions/10
			include components/call_to_actions/11
			include components/call_to_actions/12
			include components/call_to_actions/13
			include components/call_to_actions/14
			include components/call_to_actions/15
			include components/call_to_actions/16
			include components/call_to_actions/17
			include components/call_to_actions/18
			// == END OF call_to_action COMPONENTS ==
			// ____________________________
			// == START OF FEATURES COMPONENTS ==
			include components/features/01
			include components/features/02
			include components/features/03
			include components/features/04
			include components/features/05
			include components/features/06
			include components/features/07
			include components/features/08
			include components/features/09
			include components/features/10
			include components/features/11
			include components/features/12
			// == END OF FEATURES COMPONENTS ==
			// ____________________________
			// == START OF PARTNERS COMPONENTS ==
			include components/partners/01
			include components/partners/02
			include components/partners/03
			// == END OF PARTNERS COMPONENTS ==
			// ____________________________
			// == START OF COUNTERS COMPONENTS ==
			include components/counters/01
			include components/counters/02
			include components/counters/03
			// == END OF COUNTERS COMPONENTS ==
			// ____________________________
			// == START OF TESTIMONIALS COMPONENTS ==
			include components/testimonials/01
			include components/testimonials/02
			include components/testimonials/03
			include components/testimonials/04
			include components/testimonials/05
			include components/testimonials/06
			// == END OF TESTIMONIALS COMPONENTS ==
			// ____________________________
			// == START OF ABOUT COMPONENTS ==
			include components/about/01
			include components/about/02
			include components/about/03
			include components/about/04
			include components/about/05
			include components/about/06
			include components/about/07
			include components/about/08
			// == END OF ABOUT COMPONENTS ==
			// ____________________________
			// == START OF CONTENTS COMPONENTS ==
			include components/contents/01
			include components/contents/02
			include components/contents/03
			include components/contents/04
			include components/contents/05
			// == END OF CONTENTS COMPONENTS ==
			// ____________________________
			// == START OF TEAM COMPONENTS ==
			include components/team/01
			include components/team/02
			include components/team/03
			// == END OF TEAM COMPONENTS ==
			// ____________________________
			// == START OF WORKS COMPONENTS ==
			include components/works/01
			include components/works/02
			include components/works/03
			include components/works/04
			// == END OF WORKS COMPONENTS ==
			// ____________________________
			// == START OF FOOTERS COMPONENTS ==
			include components/footers/01
			include components/footers/02
			include components/footers/03
			include components/footers/04
			include components/footers/05
			include components/footers/06
			include components/footers/07
			// == END OF FOOTERS COMPONENTS ==
			// ____________________________
			// == START OF PRICE PLANS COMPONENTS ==
			include components/prices/01
			include components/prices/02
			include components/prices/03
			include components/prices/04
			// == END OF PRICE PLANS COMPONENTS ==
			// ____________________________
			// == START OF VIDEO POPUP COMPONENT ==
			include components/popups/video
			// == END OF VIDEO POPUP COMPONENT ==
			// ____________________________
			// Never miss free updates and get new breathtaking components first!
			// https://twitter.com/ui_market
			// Feel free to ask any questions: hello@ui-market.com
	.js-overlay.js-close-navigation.js-close-menu.overlay