// == START OF call_to_action 01 ==
.call_to_action.call_to_action--01(style="background-image: url(img/bg/bg--magic-mouse.jpg)")
	.container
		h2.call_to_action__title.call_to_action__title--01
			| Become first
		span.call_to_action__text.call_to_action__text--01
			| Discover classic and brand new styles in a variety of shapes, colours and materials, from signature Frame to the latest teardrop inspired watches.
		form.call_to_action__form(action="/path/to/api", method="POST")
			.call_to_action__input_box--01
				input.input.input--dark.call_to_action__input--01(type="email", placeholder="Email", required)
				button.button.button--white.call_to_action__button--01(type="submit")
					| send
// == END OF call_to_action 01 ==