// == START OF call_to_action 02 ==
.call_to_action.call_to_action--02.call_to_action--picture(style="background-image: url(img/bg/bg--black-xiro.jpg)")
	.container
		.call_to_action__title.call_to_action__title--02
			| Make an order and&MediumSpace;
			br
			| touch the sky
		form.call_to_action__form.call_to_action__form--02(action="/path/to/api", method="POST")
			.call_to_action__input_box--02
				input.input.input--death.call_to_action__input--02(type="text", placeholder="Your name", required)
				input.input.input--death.call_to_action__input--02(type="email", placeholder="Email", required)
			button.button.button--blue.call_to_action__button--02(type="submit")
				| buy xiro
// == END OF call_to_action 02 ==