// == START OF call_to_action 03 ==
.call_to_action.call_to_action--03.call_to_action--blue
	.container
		form.call_to_action__form(action="/path/to/api", method="POST")
			.call_to_action__input_box--03
				input.input.input--black.call_to_action__input--03(type="email", placeholder="Email", required)
				button.button.button--white.button--gray-shadow.call_to_action__button--03(type="submit")
					| Let’s start
// == END OF call_to_action 03 ==