// == START OF call_to_action 04 ==
.call_to_action.call_to_action--04(style="background-image: url(img/bg/bg--hands-people-woman-working.jpg)")
	.container
		.row
			.col-xs-12.col-lg-6
				h2.call_to_action__title.call_to_action__title--04
					| Modern technologies
				span.call_to_action__text.call_to_action__text--04
					| When a man finds this kind of woman, he will go all out for her knowing that she will not be a letdown.
				form.call_to_action__form--04(action="", method="POST")
					input.call_to_action__form__item--04.input.input--gray-border.input--gray.input--black-placeholder(type="text", placeholder="Your name", required)
					input.call_to_action__form__item--04.input.input--gray-border.input--gray.input--black-placeholder(type="email", placeholder="Your email", required)
					button.call_to_action__form__item--04.button.button--blue.button--small-radius(type="submit")
						| be first
// == END OF call_to_action 04 ==