// == START OF call_to_action 06 ==
.call_to_action.call_to_action--06.call_to_action--picture(style="background-image: url(img/bg/bg--apple-devices.jpg)")
	.container
		.call_to_action__title.call_to_action__title--06
			| Become more creative
			br
			| with Phoenix
		form.call_to_action__form.call_to_action__form--06(action="/path/to/api", method="POST")
			.call_to_action__input_box--06
				input.input.input--snow.call_to_action__input--06(type="text", placeholder="Your name", required)
				input.input.input--snow.call_to_action__input--06(type="email", placeholder="Email", required)
			button.button.button--blue.call_to_action__button--06(type="submit")
				| get started
// == END OF call_to_action 06 ==