// == START OF call_to_action 07 ==
.call_to_action.call_to_action--picture.call_to_action--07(style="background-image: url(img/bg/bg--pink-headphones.jpg)")
	.container
		h2.call_to_action__title.call_to_action__title--07
			| Stay tuned
		span.call_to_action__text.call_to_action__text--07
			| Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
		form.call_to_action__form(action="/path/to/api", method="POST")
			.call_to_action__input_box--07
				input.input.input--black.call_to_action__input--07(type="email", placeholder="Email", required)
				button.button.button--white.button--black-shadow.call_to_action__button--07(type="submit")
					| Preorder
// == END OF call_to_action 07 ==