// == START OF call_to_action 11 ==
.call_to_action.call_to_action--gray.call_to_action--11(style="background-image: url(img/bg/bg--roller-skaters.jpg)")
	.container
		h2.call_to_action__title
			| Subscribe now
		span.call_to_action__text.call_to_action__text--11
			| Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
		form.call_to_action__form(action="/path/to/api", method="POST")
			.call_to_action__input_box--11
				input.input.input--gray.call_to_action__input--11(type="email", placeholder="Email", required)
				button.button.button--white.button--small-radius.call_to_action__button--11(type="submit")
					| send
			ul.social
				li.call_to_action__social_item--11.social__item
					a.social__link.social__link--rounded.social__link--twitter(href="#")
				li.call_to_action__social_item--11.social__item
					a.social__link.social__link--rounded.social__link--facebook(href="#")
				li.call_to_action__social_item--11.social__item
					a.social__link.social__link--rounded.social__link--g_plus(href="#")
// == END OF call_to_action 11 ==