// == START OF call_to_action 14 ==
.call_to_action.call_to_action--gray.call_to_action--14
	.container.call_to_action__container
		h2.call_to_action__title.call_to_action__title--14
			| Best way to solve any problem
		span.call_to_action__text.call_to_action__text--14
			| Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
		form.call_to_action__form(action="/path/to/api", method="POST")
			.call_to_action__input_box--14
				input.input.input--white.call_to_action__input--14(type="email", placeholder="Email", required)
				button.button.button--blue.button--blue-shadow.call_to_action__button--14(type="submit")
					| sign up
// == END OF call_to_action 14 ==