// == START OF call_to_action 16 ==
.call_to_action.call_to_action--16(style="background-color: #bbc6cf")
	.container
		form.call_to_action__form(action="/path/to/api", method="POST")
			.call_to_action__input_box--16
				input.input.input--death.call_to_action__input--16(type="email", placeholder="Your email", required)
				button.button.button--blue.button--blue-shadow.call_to_action__button--16(type="let's start")
					| Let’s start
// == END OF call_to_action 16 ==