// == START OF call_to_action 18 ==
.call_to_action.call_to_action--18(style="background-color: #242526")
	.container
		form.call_to_action__form(action="/path/to/api", method="POST")
			.call_to_action__input_box--18
				input.input.input--gray.call_to_action__input--18(type="email", placeholder="Your email", required)
				button.button.button--white.button--gray-shadow.call_to_action__button--18(type="submit")
					| preorder
// == END OF call_to_action 18 ==